
<h1 class="page-title"><a href="{{ site.baseurl }}/index.html">{{ page.organization-name }} <br>API docs</a></h1>
    <nav>    
        <ul>
          <li><a href="{{ site.baseurl }}/" class="overview">Overview</a></li>
          <!-- <li><a href="{{ site.baseurl }}/basics/" class="basics">API Basics</a></li> -->
          <!-- <li><a href="{{ site.baseurl }}/console/" class="console">Interactive API</a></li> -->
          <li><a href="{{ site.baseurl }}/api/" class="api">API</a></li>
          <!-- <li><a href="{{ site.baseurl }}/queries.html" class="queries">Query language</a></li> -->
          <!-- <li><a href="{{ site.baseurl }}/fields/" class="fields">Field References</a></li> -->
          <!-- <li><a href="{{ site.baseurl }}/blog/" class="blog">Blog</a></li> -->
          <li><a href="{{ site.baseurl }}/contribute/" class="contribute">Contribute</a></li>
          <li><a href="{{ site.baseurl }}/terms/" class="terms">Terms of Service</a></li>
        </ul>
    </nav>
