
<h1 class="page-title"><a href="{{ site.baseurl }}/index.html">{{ page.organization-name }} <br>API docs</a></h1>
    <nav>    
        <ul>
          <li><a href="{{ site.baseurl }}/" class="overview">Overview</a></li>
          <li><a href="{{ site.baseurl }}/api/" class="api">API</a></li>
          <li><a href="{{ site.baseurl }}/response/" class="response">Response Models</a></li>
          <li><a href="{{ site.baseurl }}/sample/" class="sample">Sample Responses</a></li>
          <!-- <li><a href="{{ site.baseurl }}/blog/" class="blog">Blog</a></li> -->
          <li><a href="{{ site.baseurl }}/contribute/" class="contribute">Contribute</a></li>
          <li><a href="{{ site.baseurl }}/terms/" class="terms">Terms of Service</a></li>
        </ul>
    </nav>
