---
title: Showcase
summary:
disqus: false

---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

Check out what developers are doing with Regulations.gov APIs:

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.regulations.gov/images/dev-showcase-docketwrench.png" alt="Docket Wrench"/>
      <div class="caption">
        <h3>Docket Wrench</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <p><a href="http://bloomberg.com" class="btn btn-primary" role="button">Visit</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.regulations.gov/images/dev-showcase-bloomberg.png" alt="Bloomberg Government"/>
      <div class="caption">
        <h3>Bloomberg Government</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <p><a href="http://bgov.com" class="btn btn-primary" role="button">Visit</a></p>
      </div>
    </div>
  </div>
</div>


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://www.regulations.gov/images/dev-showcase-federalregister.png" alt="Office of the Federal Register">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Office of the Federal Register. <span class="text-muted">.gov.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dockent Wrench <span class="text-muted">Sunlight Foundation</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://www.regulations.gov/images/dev-showcase-docketwrench.png" alt="Docket Wrench">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://www.regulations.gov/images/dev-showcase-noticeandcomment.png" alt="Notice and Comment">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Notice and Comment. <span class="text-muted">Federal, State and Local.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Bloomberg Government. <span class="text-muted">?.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://www.regulations.gov/images/dev-showcase-bloomberg.png" alt="Bloomberg Government">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

###Disclaimer:
Regulations.gov cannot attest to the accuracy of the information provided by web sites or apps using Regulations.gov APIs. Linking to external web sites is not an endorsement by Regulations.gov of the web sites themselves, the owners or sponsors of the web sites, or the information presented in the website. Regulations.gov does not receive any compensation for web sites using its APIs that require paid subscription.

Contact the Regulations.gov Help Desk to tell us about your integrated application at 1-877-378-5457 (toll free) or 703-412-3083, Monday through Friday, from 9:00 AM until 5:00 PM.

For Regulations.gov to consider including a link to a website or app using the APIs, the following criteria must be met:

* The app must present information in an unbiased and fair manner.
* The app must not advocate for or against any political party, candidate, or group.
* The primary purpose of the app must not be to request contributions or donations nor engage in fundraising.
Regulations.gov prefers that websites and apps be accessible to a wide range of users, including users with disabilities.

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
<div class="list-group">
<a href="#" class="list-group-item active">Link</a>
<a href="#" class="list-group-item">Link</a>
<a href="#" class="list-group-item">Link</a>
<a href="#" class="list-group-item">Link</a>
<a href="#" class="list-group-item">Link</a>
<a href="#" class="list-group-item">Link</a>
</div>
</div><!--/span-->
